<div class="form-horizontal">
<%= form_for(@pins, multipart: true) do |f| %>
 
<div class="form-group">
	<label for="pin_title" class="col-sm-2 control-label">Title</label>
<div class="col-sm-10">
  	<%= f.text_field :title %>
</div>
</div>

<div class="form-group">
	<label for="pin_slug" class="col-sm-2 control-label">Slug</label>
<div class="col-sm-10">
	<%= f.text_field :slug %>
</div>
</div>

<div class="form-group">
  	<label for="pin_category_id" class="col-sm-2 control-label">Category</label>
<div class="col-sm-10">
  	<%= f.collection_select(:category_id, Category.all, :id, :name) %>
</div>
</div>

 <div class="form-group">
	<label for="pin_url" class="col-sm-2 control-label">URL</label>
<div class="col-sm-10">
	<%= f.url_field :url, placeholder: "www.website.com" %>
</div>
</div>

<div class="form-group">
	<label for="pin_text" class="col-sm-2 control-label">Description</label>
<div class="col-sm-10">
	<%= f.text_area :text, size: "50x7" %>
</div>
</div>

<div class="form-group">
  <label for="pin_image" class="col-sm-2 control-label">Upload Image</label>
<div class="col-sm-10">
  <%= f.file_field :image  %>
</div>
</div>

<div class="form-group">
<div class="col-sm-offset-2 col-sm-10">
	 <%= f.button(options = {class: "btn btn-default"}) %>
<% end %>
</div>
</div>

</div>
